*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 0%;
}


@keyframes anim {
    0%{
        width: 200px;
        height: 200px;
    }

    100%{
        margin-left: 1000px;
}
}
#sim {
    width: 200px;
    height: 200px;
    animation-name: anim;
    animation-duration: 6s;
    background-color: var(CorT);
}
#gato {
    width: 200px;
    height: 200px;
    animation-name: anim;
    animation-duration: 6s;
    background-color: var(CorT);
}